
html, body {
  height:100%;
  margin:0;
  background-color:#1C1C1C;
  color:#ffffff;
  font-family:Helvetica Neue,HelveticaNeue,HelveticaNeueRoman,HelveticaNeue-Roman,Helvetica Neue Roman,TeXGyreHerosRegular,Helvetica,Arial,sans-serif;
}

h2 {
  font-weight: 300;
}

.blueTitle {
  color: #00FFFF;
}

.hidden {
  display:none;
}

.clear {
  clear: both;
}

.pointer {
  cursor:pointer;
}

.coverImage {
  height: 200px;
  width:200px;
  box-shadow: 0px 0px 8px #000;
}

.app {
  margin:80px;
}

.search {
  margin-bottom: 60px;
}

.search .searchRow {
  display:flex;
}

.search .searchRow .inputCol {
  flex: 1;
  margin-right: 30px;
  display:flex;
  flex-direction:column;
}

.search .searchRow .searchInput {
  background: #232323;
  padding: 25px 20px;
  font-size: 18px;
  flex: 1;
  border: 0;
  border-radius: 3px;
  color: #8B8B8B;
}

.search .searchRow .searchInput:focus,
.search .searchRow .searchButton:focus {
    outline: none;
}

.search .searchRow .searchSuggestions {
  margin-top:20px;
  color: #8B8B8B;
  background: #232323;
  border-radius: 3px;
  padding: 10px 25px;
  position: absolute;
  right: 80px;
  top: 145px;
  left: 80px;
}

.search .searchRow .searchSuggestions .closeSuggestions {
  color: #00FFFF;
  float:right;
}

.search .searchRow .searchSuggestions ul {
  padding-left:0px;
}

.search .searchRow .searchSuggestions ul li {
  list-style: none;
  padding: 10px 0 10px 20px;
  border-bottom: 2px solid #1C1C1C;
}

.search .searchButton {
  background: #00FFFF;
  font-size: 18px;
  padding: 25px 30px;
  border: 0;
  border-radius:3px;
  max-height:71px;
}

.search .searchRow .searchButton:hover {
  opacity: .85;
}

.search .searchRow .searchButton:active {
  position:relative;
  top: 1px;
}

.search .resultsModal {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:#1C1C1C;
  padding:80px;
  z-index:15;
}

.search .resultsModal .resultsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search .resultsModal .ResultsTitle {
  float:left;
}

.search .resultsModal .closeModal {
  float:right;
  font-size:42px;
  color: #00FFFF;
  margin-left:20px;
}

.search .resultsModal .resultsContainer .resultBox {
  width:200px;
  margin:10px;
  text-align:center;
}

.albums {
  margin-bottom: 30px;
}

.albums .greyLine {
  height: 1px;
  background-color: #232323;
  border:0;
}

.albums .albumRow {
  display:flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.albums .albumRow .singleAlbum {
  width:200px;
  flex: 0 0 auto;
  margin:0 20px;
  text-align:center;
}

.albums .albumRow .singleAlbum p {
  font-size:18px;
  font-weight: 200;
  color: #00FFFF;
  margin-top:10px;
}

.tracks .albumInfo {
  display:flex;
}

.tracks .albumInfo .coverImage {
  margin-left:20px;
  z-index:10;
}

.tracks .albumInfo .blueTitle {
  margin-left:30px;
  margin-top: 10px;
}

.tracks table {
  border-collapse: collapse;
  border-spacing: 0;
  top:-100px;
  position:relative;
  z-index:5;
  width:100%;
  font-size:18px;
}

.tracks th {
  text-align: left;
  padding-bottom:15px;
  font-weight:400;
}

.tracks .table__whitespace-header {
  width: 250px;
}

.tracks .table__title-header {
  width: 30%;
}

.tracks .table__release-header {
  font-weight:200;
}

.tracks tbody {
  background-color: #2A2A2A;
}

.tracks tbody tr td {
  padding-top:15px;
  padding-bottom:15px;
  border:0;
  font-weight: 200;
}

.tracks tbody tr .tableSeparator {
  border-bottom: 1px solid #000;
}

.tracks tbody>tr:last-child td{
  border: 0;
  padding-bottom:50px;
}



/* Mobile Version */
@media(max-width:414px){
  .app{
    margin:40px 20px 20px 20px;
    font-size:80%;
  }

  .search .searchRow .inputCol {
    margin-right:0;
  }

  .search .searchRow .searchButton{
    display:none;
  }

  .search .searchRow .searchSuggestions {
    left:20px;
    right:20px;
    top:100px;
  }

  .tracks .albumInfo{
    flex-direction: column;
  }

  .tracks .albumInfo .coverImage{
    margin:auto;
  }

  .tracks .albumInfo .blueTitle{
    text-align:center;
    margin-bottom:40px;
  }

  .tracks table {
    position:inherit;
    top:0;
    font-size:14px;
  }

  .tracks table .table__whitespace-header {
    width:10px;
  }

  .tracks table .table__release-header {
    width:18%;
  }

}
